
<div class="row">
  <aside class="span2">
    <section>
      <%= render 'shared/user_info'%>
    </section>
  </aside>

  <div class="span10">
    <h3>あなたの日報</h3>

    <%= render 'shared/report_list'%>

  </div>

</div>