@import "bootstrap";

*{
    font-family:'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

@mixin box-sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    overflow-y: scroll;
}

// body{
//     padding-top: 60px;
// }

section{
    overflow: auto;
}
#logo{
    float: left;
    color:black;
    font-size: 1.7em;
    font-weight: bold;
    line-height: 2;
    &:hover{
        text-decoration: none;
        color: blue;
    }
}


/* 日報作成画面 */
div.date_and_rest{
    display: flex;
    flex-direction: row;
    align-items: center;
    div.date_field {
        select{
            width:75px;
        }
    }
    div.rest_field{
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        label{
            margin-left: 20px;
        }

    }
}
div.work_time_field{
    display: flex;
    flex-direction: row;
    div.time_field{
        margin-right: 20px;
    }
    select{
        width:75px;
    }
}

div.field {
    textarea{
        width:400px;
        height:100px;
    }
}



/* 全ての日報一覧 */
div.admin_report_fillter_field div.fillter_area{
    display: flex;
    flex-direction: row;


    div.fillter_input{
        margin-right: 10px;
        margin-left: 10px;

        input{
            width:75px;
        }
    }

    div.check_box_field{
        align-self:center;
    }
}